@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:wght@400;700&display=swap');

@import './reset';
@import './type';
@import './components/button';
@import './components/menu-list';

html {
  font-size: 10px;
  font-family: $font-body;
}

body {
  font-size: 1.8rem;
  line-height: 1.75;
}


button {
  background: none;
  border: none;
  cursor: pointer;
}
